In [1]:
import pandas as pd
import numpy as np

In [2]:
# read the input
data = pd.read_csv('task-1/input.txt', header=None, names=['calories'], skip_blank_lines=False)

In [3]:
# check where there is blank space to detect where the new elf comes
data['elfid'] = np.where(data['calories'].isna(), 1, 0).cumsum()

In [6]:
data.groupby('elfid').agg(total_calories=('calories', 'sum'), number_products=('elfid', 'count')).sort_values('total_calories')

       total_calories  number_products
elfid
245            3752.0                2
77             5041.0                2
250            7283.0                2
91            10151.0                3
172           12170.0                3
...               ...              ...
219           65621.0                9
200           65687.0                8
83            67232.0                3
2             68034.0                2
68            71023.0               11

[260 rows x 2 columns]