In [1]:
import pandas as pd
import numpy as np

# Part One

In [2]:
# Before reading the file I did some manual edits in the text file 
# I've replaced the pattern '    [' with '[],['
# I've replaced the pattern ']    ' with '],[]'
# I've replaced the pattern '    ' with ',[]'
# I've replaced the pttern ' ' with ','

In [3]:
decks = pd.read_csv("./input.txt", header=None, nrows=8, na_values='[]')
# add 1 to indeces to match the input definition
decks.columns = decks.columns + 1
decks.index = decks.index + 1

In [4]:
decks

     1    2    3    4    5    6    7    8    9
1  NaN  [H]  NaN  NaN  [D]  NaN  [P]  NaN  NaN
2  [W]  [B]  NaN  NaN  [C]  [Z]  [D]  NaN  NaN
3  [T]  [J]  NaN  [T]  [J]  [D]  [J]  NaN  NaN
4  [H]  [Z]  NaN  [H]  [H]  [W]  [S]  NaN  [M]
5  [P]  [F]  [R]  [P]  [Z]  [F]  [W]  NaN  [F]
6  [J]  [V]  [T]  [N]  [F]  [G]  [Z]  [S]  [S]
7  [C]  [R]  [P]  [S]  [V]  [M]  [V]  [D]  [Z]
8  [F]  [G]  [H]  [Z]  [N]  [P]  [M]  [N]  [D]

In [5]:
decks_dict = {column: decks[column].dropna().iloc[::-1].to_list() for column in decks.columns}

In [6]:
moves = pd.read_csv('./input.txt', header=None, skiprows=10)

In [7]:
moves.head()

      0  1     2  3   4  5
0  move  2  from  8  to  2
1  move  3  from  9  to  2
2  move  1  from  3  to  8
3  move  5  from  1  to  7
4  move  2  from  9  to  2

In [8]:
for i in range(len(moves)):
    # get how many decks we must move
    move_decks = moves.loc[i, 1]
    # get from which deck we must move from
    move_from = moves.loc[i, 3]
    # get from which deck we must move to
    move_to = moves.loc[i, 5]
    {decks_dict[move_to].append(decks_dict[move_from].pop()) for _ in range(move_decks)}

In [9]:
''.join(l for l in [''.join(ch for ch in value[-1] if ch.isalpha()) for value in decks_dict.values()])

'SPFMVDTZT'

# Part two

In [10]:
decks_dict = {column: decks[column].dropna().iloc[::-1].to_list() for column in decks.columns}

In [11]:
for i in range(len(moves)):
    # get how many decks we must move
    move_decks = moves.loc[i, 1]
    # get from which deck we must move from
    move_from = moves.loc[i, 3]
    # get from which deck we must move to
    move_to = moves.loc[i, 5]
    # get the crates to move with slicing and add to the deck of the destination
    decks_dict[move_to] = decks_dict[move_to] + decks_dict[move_from][-move_decks:]
    # remove the moved crates from the origin
    del decks_dict[move_from][-move_decks:]

In [12]:
''.join(l for l in [''.join(ch for ch in value[-1] if ch.isalpha()) for value in decks_dict.values()])

'ZFSJBPRFP'